.lastudiomenucanvas {
    height: 100vh !important;
    background-color: #727272;

    .offcanvas-header {
        justify-content: end;
        right: 60px;
        position: absolute;

        .btn-close {
            color: #fff !important;
            background: none !important;
            font-size: 35px;
            opacity: 1;
            font-weight: 400 !important;
        }
    }

    .offcanvas-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main-top-navbar {
    width: 100%;
    margin: 0 auto;
    width: max-content;
    max-height: 90vh;

    ul {
        padding: 0px;
        margin: 0;

        li {
            position: relative;
            display: block;
            text-align: center;

            a {
                font-size: 44px;
                color: #fff;
                padding: 24px 15px;
                display: block;
                font-weight: 400;
                text-decoration: none;

                i {
                    position: relative;
                    font-size: 15px;
                    right: 5px;
                    top: -5px;
                }
            }

            .sub-menu {
                transition: 0.5s;
                width: 100%;
                display: none;
                transition: none;
                box-shadow: none;
                border-bottom: 0px;

                li {
                    a {
                        padding: 10px 0px;
                        font-size: 18px;

                        i {
                            right: -4px;
                            top: 2px;
                        }
                    }

                    ul {
                        left: 0;
                        top: auto;
                        min-width: 210px;
                    }

                    &:last-child {
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }
}